@model UniversityManagementSystem.Models.Department

@{
    Layout = null;
     
}
 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save Department</title>
    <style>
        .BackHome { margin-top: 50px; }
        .BackHome a {
            text-decoration: none;font-size: 26px;
            font-family: arial;margin-left: 400px;
        }
        .control-label {
            font-size: 26px;
            font-family: verdana;
            margin-left: 80px;
            margin-top: 10px;
        }


        input[type="text"] {
            margin-left: 80px;
            margin-top: 10px;
            width: 220px;
            height: 29px;
        }
        input[type="submit"] {
            background: teal;color: whitesmoke;font-size: 22px;font-family: lucida;
            margin-left: 170px;margin-top: 10px;margin-bottom: 3px;
        }


    </style>
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
 
<fieldset style="border: 2px dashed teal; width: 680px; margin-left: 300px;">

    <legend style="color: green; font-size: 32px; font-family: verdana;">Save Department</legend>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">


            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentCode, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DepartmentCode)
                    @Html.ValidationMessageFor(model => model.DepartmentCode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentName, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DepartmentName)
                    @Html.ValidationMessageFor(model => model.DepartmentName)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default"/>

                </div>
                <h3 style="color: crimson; margin-left: 150px; font-size: 24px;">@ViewBag.Message</h3>

            </div>

        </div>
    }
</fieldset>

<div class="BackHome">
    @Html.ActionLink("Back to Home Page", "Index", "Main")
</div>
<script src="~/Scripts/jquery-2.2.0.min.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
