@model UniversityManagementSystem.Models.Teacher

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Teacher</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Department.DepartmentCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Department.DepartmentCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Designation.DesignationName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Designation.DesignationName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ContactNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ContactNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreditToBeTaken)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreditToBeTaken)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TeacherId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
