@model IEnumerable<UniversityManagementSystem.Models.Student>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .table {
            border: 1px solid black;
            text-align: center;
            color: chocolate;
            font-size: 21px;
            font-family: lucida;
        }

        tr, td, th {
            border: 2px solid teal;
            text-align: center;
            color: chocolate;
            font-size: 21px;
            font-family: lucida;
        }
    </style>
</head>
<body>
    <p>
        @*@Html.ActionLink("Create New", "Create")*@
    </p>
<table class="table" style="width: 100%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.StudentId}) |
                @Html.ActionLink("Details", "Details", new {id = item.StudentId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.StudentId})
            </td>
        </tr>
    }



</table>

    @Html.ActionLink("Back to Home Page", "Index", "Main")
</body>
</html>
