@model UniversityManagementSystem.Models.ResultEntry

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ResultEntry</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ResultEntryId)

        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, "StudentId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StudentId", String.Empty)
                @Html.ValidationMessageFor(model => model.StudentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, "CourseId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CourseId", String.Empty)
                @Html.ValidationMessageFor(model => model.CourseId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GradeId, "GradeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GradeId", String.Empty)
                @Html.ValidationMessageFor(model => model.GradeId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
