@model UniversityManagementSystem.Models.AssignCourse

@{
    ViewBag.Title = "Course Assign to Teacher";
}
<link href="~/Content/formStyle.css" rel="stylesheet"/>
<link href="~/Content/ErrorValidation.css" rel="stylesheet" />
<h2 style="color: teal; font-weight: bold; font-style: italic; font-size: 24px; margin-left: 240px;">Course Assign to Teacher</h2>


<fieldset style="margin:0px auto; border: 2px solid gray; width: 900px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentId, "Department", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("DepartmentId", String.Empty)
                    @Html.ValidationMessageFor(model => model.DepartmentId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TeacherId, "Teacher", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Partial("_FillteredTeacher")
                    @Html.ValidationMessageFor(model => model.TeacherId)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <div id="teacherInfo">
                        @Html.Partial("~/Views/Shared/_TeachersCreditInfo.cshtml")
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CourseId, "Course", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Partial("_FilteredCourse")
                    @Html.ValidationMessageFor(model => model.CourseId)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <div id="courseInfo">
                        @Html.Partial("~/Views/Shared/_CourseInfo.cshtml")
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Assign" class="btn btn-default"/>
                </div>

                <h3 style="color: forestgreen; margin-left: 20px;">@TempData["success"]</h3>
                <h3 style="color: red;margin-left:20px;">@TempData["Already"]</h3>
            </div>
        </div>
    }
</fieldset>
@Html.ActionLink("Back to home", "Index", "Main")

<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
 

<script type="text/javascript">

    function FillData(id) {

        $('#TeacherId').load('@Url.Action("LoadTeacher")', { departmentId: id });

        $('#CourseId').load('@Url.Action("LoadCourse")', { departmentId: id });

    }
    function FillTeacherInfo(id) {

        $('#teacherInfo').load('@Url.Action("TeacherInfoLoad")', { teacherId: id });

    }
    function FillCourseInfo(id) {

        $('#courseInfo').load('@Url.Action("CourseInfoLoad")', { courseId: id });

    }

    $(function () {
        $('#DepartmentId').change(function () {

            var id = $('#DepartmentId').val();
            FillData(id);

        });
        $('#TeacherId').change(function () {

            var id = $('#TeacherId').val();
            FillTeacherInfo(id);

        });
        $('#CourseId').change(function () {

            var id = $('#CourseId').val();
            FillCourseInfo(id);

        });
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
